<div class="row">
  <div class="col-md-8">
    <table class="table table-striped" *ngIf="todos$ | async as todosData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Checked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todosData">
          <td>{{ todo.id }}</td>
          <td style="word-break: break-all">{{ todo.title }}</td>
          <td style="word-break: break-all">{{ todo.message }}</td>
          <td (click)="changeTodoStatus(todo.id)" style="word-break: break-all">
            {{ todo.checked ? "Yes" : "No" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
